/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}


.circle {
  height: 50px;
  width: 50px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  padding-top: 13px;
  margin: 10px;
}

.circle-active {
  height: 50px;
  width: 50px;
  background-color: var(--ion-color-primary);
  border-radius: 50%;
  display: inline-block;
  padding-top: 13px;
  margin: 10px;
}

.circle-finished {
  height: 50px;
  width: 50px;
  background-color: var(--ion-color-success);
  border-radius: 50%;
  display: inline-block;
  padding-top: 13px;
  margin: 10px;
}
